body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#5f0000, #001269, #FFFFFF); /* zastava Srbije */
    /* background: linear-gradient(#5f0000 33.33%, #001269 33.33%, #001269 66.66%, #FFFFFF 66.66%); zastava Srbije */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Glavni kontejner za igru */
#game-container {
    position: relative; /* Za pozicioniranje overlay-a preko table */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tabla za igru */
#game-board {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
    background-color: rgb(10, 97, 2);
    border: 2px solid white;
}

/* Segmenti zmije */
.snake {
    background-color: pink;
    border-radius: 10px; /* Zaobljeni uglovi */
}

/* Hrana */
.food {
    background-color: red;
    border-radius: 50% /* Okrugla hrana */
}

#game-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Skriven po defaultu */
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Poluprovidna pozadina */
    padding: 20px;
    border-radius: 10px;
}

#game-message {
    font-size: 2rem;
    margin-bottom: 20px;
}

#game-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#game-button:hover {
    background-color: #777777;
}

#score-board {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
}

#leaderboard {
    position: fixed; /* Fixiraj ga na ekranu, da ne zavisi od #game-container */
    top: 10px; /* Od vrha ekrana */
    right: 10px; /* Od desnog ruba ekrana */
    height: 300px; /* Širina leaderboarda */
    background-color: rgba(0, 0, 0, 0.7); /* Polu providna crna pozadina */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: -10; /* Pobrinite se da leaderboard bude iznad drugih elemenata */
}

#leaderboard h2 {
    text-align: center;
    margin-bottom: 15px;
}

#leaderboard-list {
    list-style-type: decimal;
    padding-left: 20px;
}

#leaderboard-list li {
    margin-bottom: 10px;
    font-size: 18px;
}
