* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('zmijica.jpeg');
    background-size: cover;
    /*background: linear-gradient(#5f0000, #001269, #FFFFFF); !* zastava Srbije *!*/
    /* background: linear-gradient(#5f0000 33.33%, #001269 33.33%, #001269 66.66%, #FFFFFF 66.66%); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#game-container {
    position: relative; /* Za pozicioniranje overlay-a preko table */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Tabla za igru */
#game-board {
    display: grid;
    grid-template-columns: repeat(20, 25px);
    grid-template-rows: repeat(20, 25px);
    gap: 1px;
    background-color: rgb(41, 97, 39);
    border: 2px solid white;
}




/* Segmenti zmije */
.snake {
    background-color: pink;
    border-radius: 10px; /* Zaobljeni uglovi */
}

/* Hrana */
.food {
    background-color: red;
    border-radius: 50% /* Okrugla hrana */
}



#game-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Skriven po defaultu */
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.9); /* Poluprovidna pozadina */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#game-message {
    font-size: 2rem;
    margin-bottom: 20px;
}




#game-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#game-button:hover {
    background-color: #777777;
}






#score-board {
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Lagano providna bela pozadina */
    padding: 10px 10px;
    border-radius: 5px;
    flex-grow: 1; /* Zauzima prostor za centriranje */
    margin: 0 20px;
    
}









#leaderboard {
    position: relative;
    width: 300px;
    height: 623px;
    margin-left: 0;
    background-color: #001269;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

#leaderboard h2 {
    font-size: 24px;
    color: #7b7b7b;
    margin: 20px;
}

#leaderboard-list {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

#leaderboard-list li {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #b7b7b7;
    font-size: 2.5ex;
}

#leaderboard-list li:last-child {
    border-bottom: none;
}








#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #001269; 
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #ddd;

}

#name-container h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}







#leaderboard-button {
    background-color: #f1c40f; /* Zlatna boja */
    color: #001269;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#leaderboard-button:hover {
    background-color: #e67e22; /* narandzasta boja kad se hoveruje */
    transform: scale(1.1); /* povecanje dugmeta */
}
